$primary: #2b6f73;
$secondary: #e8ab5c;
$light: #fbf8f0;
$dark: #171511;

$link-color: #ff5f87;
$link-hover-color: #d94870;
$td-sidebar-bg-color: #f7f2e7;
$td-navbar-background-color: #fbf8f0;
$td-enable-google-fonts: false;
