$primary: #2dd4bf;
$secondary: #fbbf24;
$light: #fafafa;
$dark: #0f172a;

$link-color: #ff4dbd;
$link-hover-color: #d9369e;
$td-sidebar-bg-color: #fafafa;
$td-navbar-background-color: #fafafa;
$td-enable-google-fonts: false;
