/* PrismJS 1.28.0 with Restish theme colors and Docsy toolbar support */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8fafc;
  background: none;
  text-shadow: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
  text-shadow: none;
  background: #485564;
}

code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
  text-shadow: none;
  background: #485564;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #020617;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment {
  color: #94a3b8;
}

.token.success {
  color: #afd787;
}

.token.operator {
  color: #d7af5f;
}

.token.error {
  color: #fff;
  background-color: #f43f5e;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol,
.token.key,
.token.keypress {
  color: #5fafd7;
}

.token.header .token.property {
  color: #6fbfbf;
}

.token.boolean,
.token.null,
.token.keyword {
  color: #f43f5e;
}

.token.number {
  color: #d78700;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex {
  color: #afd787;
}

.token.variable,
.token.binary,
.token.function {
  color: #d7afc7;
}

.token.date {
  color: #af87d7;
}

.token.uri,
.token.url {
  color: #d6ffb7;
  font-style: italic;
  background: none;
}

.token.diffAdded {
  color: #afd787;
}

.token.diffModified,
.token.warning {
  color: #d78700;
}

.token.diffRemoved {
  color: #f43f5e;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  z-index: 10;
  top: 0.3em;
  right: 0.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar,
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  background: rgba(224, 224, 224, 0.14);
  border: 0;
  border-radius: 0.5em;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  color: #ddd;
  cursor: pointer;
  font: inherit;
  font-size: 0.8em;
  line-height: normal;
  overflow: visible;
  padding: 0 0.5em;
}

div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus {
  color: #fff;
}
