name: goreleaser

on:
  push:
    tags:
      - "*"
  workflow_dispatch: # Allow triggering manually.

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup QEMU (needed for cross-compiling)
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}

      - name: Run GoReleaser via goreleaser-cross
        run: |
          docker run --rm \
            -v "${PWD}":/workspace \
            -w /workspace \
            -e GITHUB_TOKEN=${{ secrets.GH_PAT }} \
            ghcr.io/goreleaser/goreleaser-cross:v1.25-v2.12.7 \
            release --clean
