name: goreleaser

on:
  push:
    tags:
      - "*"
  workflow_dispatch: # Allow triggering manually.

jobs:
  goreleaser:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Build using goreleaser-cross
        run: |
          docker run --rm \
            -e CGO_ENABLED=1 \
            -e GITHUB_TOKEN=${{ secrets.GH_PAT }} \
            -v $PWD:/workspace \
            -w /workspace \
            ghcr.io/goreleaser/goreleaser-cross:v1.25-v2.12.7 \
            release --clean --verbose
